BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "htack" SITE "38" ;
LOCATE COMP "hrvld" SITE "39" ;
LOCATE COMP "ch_data[31]" SITE "40" ;
LOCATE COMP "ch_data[30]" SITE "41" ;
LOCATE COMP "ch_data[29]" SITE "42" ;
LOCATE COMP "ch_data[28]" SITE "43" ;
LOCATE COMP "ch_data[27]" SITE "51" ;
LOCATE COMP "ch_data[26]" SITE "52" ;
LOCATE COMP "ch_data[25]" SITE "53" ;
LOCATE COMP "ch_data[24]" SITE "54" ;
LOCATE COMP "ch_data[23]" SITE "57" ;
LOCATE COMP "ch_data[22]" SITE "58" ;
LOCATE COMP "ch_data[21]" SITE "59" ;
LOCATE COMP "ch_data[20]" SITE "60" ;
LOCATE COMP "ch_data[19]" SITE "61" ;
LOCATE COMP "ch_data[18]" SITE "62" ;
LOCATE COMP "ch_data[17]" SITE "63" ;
LOCATE COMP "ch_data[16]" SITE "64" ;
LOCATE COMP "ch_data[15]" SITE "65" ;
LOCATE COMP "ch_data[14]" SITE "66" ;
LOCATE COMP "ch_data[13]" SITE "67" ;
LOCATE COMP "ch_data[12]" SITE "68" ;
LOCATE COMP "ch_data[11]" SITE "69" ;
LOCATE COMP "ch_data[10]" SITE "70" ;
LOCATE COMP "ch_data[9]" SITE "71" ;
LOCATE COMP "ch_data[8]" SITE "74" ;
LOCATE COMP "ch_data[7]" SITE "75" ;
LOCATE COMP "ch_data[6]" SITE "76" ;
LOCATE COMP "ch_data[5]" SITE "77" ;
LOCATE COMP "ch_data[4]" SITE "78" ;
LOCATE COMP "ch_data[3]" SITE "82" ;
LOCATE COMP "ch_data[2]" SITE "83" ;
LOCATE COMP "ch_data[1]" SITE "84" ;
LOCATE COMP "ch_data[0]" SITE "85" ;
LOCATE COMP "htclk" SITE "86" ;
LOCATE COMP "hract" SITE "87" ;
LOCATE COMP "hrclk" SITE "88" ;
FREQUENCY PORT "htclk" 120.000000 MHz ;
LOCATE COMP "data_in[0]" SITE "96" ;
LOCATE COMP "data_in[1]" SITE "97" ;
LOCATE COMP "data_in[2]" SITE "98" ;
LOCATE COMP "data_in[3]" SITE "99" ;
LOCATE COMP "data_in[4]" SITE "1" ;
LOCATE COMP "data_in[5]" SITE "2" ;
LOCATE COMP "data_in[6]" SITE "3" ;
LOCATE COMP "data_in[7]" SITE "4" ;
LOCATE COMP "data_in[8]" SITE "7" ;
LOCATE COMP "data_in[9]" SITE "8" ;
LOCATE COMP "data_in[10]" SITE "9" ;
LOCATE COMP "data_in[11]" SITE "10" ;
LOCATE COMP "data_in[12]" SITE "12" ;
LOCATE COMP "data_in[13]" SITE "13" ;
LOCATE COMP "data_in[14]" SITE "14" ;
LOCATE COMP "data_in[15]" SITE "15" ;
LOCATE COMP "data_in[16]" SITE "16" ;
LOCATE COMP "data_in[17]" SITE "17" ;
LOCATE COMP "data_in[18]" SITE "18" ;
LOCATE COMP "data_in[19]" SITE "19" ;
LOCATE COMP "data_in[20]" SITE "20" ;
LOCATE COMP "data_in[21]" SITE "21" ;
LOCATE COMP "data_in[22]" SITE "24" ;
LOCATE COMP "data_in[23]" SITE "25" ;
LOCATE COMP "data_in[24]" SITE "27" ;
LOCATE COMP "data_in[25]" SITE "28" ;
LOCATE COMP "data_in[26]" SITE "29" ;
LOCATE COMP "data_in[27]" SITE "30" ;
LOCATE COMP "data_in[28]" SITE "34" ;
LOCATE COMP "data_in[29]" SITE "35" ;
LOCATE COMP "data_in[30]" SITE "36" ;
LOCATE COMP "data_in[31]" SITE "37" ;
SYSCONFIG SDM_PORT=PROGRAMN ;
LOCATE COMP "spi_clk" SITE "31" ;
LOCATE COMP "spi_mosi" SITE "49" ;
LOCATE COMP "spi_cs" SITE "48" ;
